<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" style="color: floralwhite;">A VV ARDS <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}" style="color: floralwhite;">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'signup'%}" style="color: floralwhite;">SignUp</a>
        </li>
  
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" style="color: ghostwhite;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#" style="font-size: xx-large; color: rgb(37, 175, 2);">User: {{ user.username }}</a>
            <a class="dropdown-item" href="/profile/{{user.id}}">My Profile</a> 
            <a class="dropdown-item" href="{% url 'create-profile' %}">Update Profile</a>
            <a class="dropdown-item" href="{% url 'logout'%}">Log Out</a>
            <a class="dropdown-item" href="#">Submit a Project</a>
          </div>
        </li>
       
      </ul>
      <form method="GET" class="form-inline" action="#">
        <input  type="search" name= "user" placeholder="Search Projects" aria-label="Search" >
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>