{%extends 'index.html'%}
{%load bootstrap4 %}
{%block content %}
<br>
<h2 style="text-align: center; color: rgb(60, 82, 55);"><b><u>Your Profile</u></b></h2>
<br>
<br>

<div class="container">
    <div class="row">
        {% for pic in profile  %}
        <div class="card" style="width: 40rem; height: 50rem;" >
            <br>
            <div class="card-header">
                <h5>Username: {{pic.user.username}}</h5>
            </div>
            <div class="card-body">
            {% if profile_pic.url%}
            <img src="{{pic.profile_pic.url}}" alt="profile picture">
            {% endif %}
             <br>
            <p style="font-size: x-large;">Bio: {{pic.bio}}</p>
            </div>
            <div class="card-footer">
                <p style="font-size: x-large;"><u>Contact Details:</u> <br> Tel:- {{pic.contact_phonenumber}} <br> Email:- {{pic.user.email}}</p>
            </div>
        </div>
        {%endfor%}

        <br>
        {%for proj in projects%}
        <div class="row">
            <h2 style="font-size: xx-large; color:rgb(37, 175, 2) ;">Your Projects</h2>      
            <div class="card" style="width: 40rem;">
                <br>
                <div class="card-header">
                    <img src="{{proj.project_image.url}}" alt="card image">
                </div>
                <div class="card-body">
                    <h5 >{{proj.title}}</h5>
                    <br>
                    <p>{{proj.description}}</p>
                    <h5>Posted by:{{proj.profile.user.username}}</h5>
                </div>
            </div>

            {% endfor %}
        </div>
        
    </div>
</div>
{% endblock %}